/* Error: Can't find stylesheet to import.
 *    ,
 * 38 | @import "section/error404error403";
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   style.scss 38:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 38 \2502  @import \"section/error404error403\";\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   style.scss 38:9  root stylesheet";
}
