footer{
    background-color: rgb(226,226,226);
    font-family: 'Quicksand', sans-serif;
    #spantitre{
        color: rgb(12, 100, 166);
    }
    #maps{
        display: flex;
        justify-content: flex-end;
        margin-top: -35px;
    }
    #footertitre{
        display: flex;
        justify-content: center;
    }
}
