#footer-map{
    .wrap_footer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 2rem;
        iframe{
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }
}

#footer{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    .wrap_footer{
        padding: 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        gap: 1rem;
        .foot-text{
            color: #818181;
        }
        .links{
            display: flex;
            flex-flow: row nowrap;
            gap: 1rem;
            .foot-link{
                button{
                    padding: 1rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 1.2rem;
                    border-radius: 5px;
                    border: none;
                    background-color: transparent;
                    transition: all .5s;
                    color: #4b4b4b;
                    &:hover{
                        background-color: rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
}
