header{
    .wrap{
        display: flex;
        justify-content: space-between;
        font-family: 'Quicksand', sans-serif;
        padding: 2rem;
        #spantitre{
            color: $mainColor;
        }
        nav ul{
            display: flex;
            gap: 2rem;
            align-items: center;
            color: black;
            // Gestion du menu burger
            .desktop{
                @include breakpoints(tablette){
                    display: none;
                }
            }
            .mobile{
                display: none;
            }
            .burger{
                display: none;
                @include breakpoints(tablette){
                    display: block;
                }
            }
            li{
                span{
                    color: $colorblack;
                }
                i{
                    color: $mainColor;
                    @include hoverColor($mainColorHover);
                }
            }
        }
        .create{
            background-color: $mainColor;
            border-radius: 15px;
            padding : .5rem;
            width: 175px;
            display: flex;
            justify-content: center;
            color: white;
            @include hoverBackgroundColor($mainColorHover);
        }
    }
}
