
#connexion{
    padding-top: 1rem;
    font-size: 1.6rem;
    .success{
        color: green;
    }
    strong{
        font-size: 1rem;
    }
    .wrap{
        padding: 1rem;
        h2{
            margin-left: 3rem;
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: 300;
            color: black;
        }
        .box{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            align-content: center;
            width: 100%;
            justify-content: center;
            @include breakpoints(tablettebig){
                flex-flow: column nowrap;
                text-align: center;
            }
            .item{
                width: 100%;
            }
            img{
                display: block;
                @include breakpoints(tablettebig){
                    display: none;
                }
            }
        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(0,0,0,.1);
            border-radius: 10px;
            padding: 2rem;
            margin-left: 3%;
            margin-right: 3%;
            width: 100%;
            label{
                font-weight: 300;
                font-size: 1.6rem;
                color: rgba(0,0,0,.7);
            }
            input{
                padding-left: .5rem;
                width: 50%;
                @include breakpoints(tablettebig){
                    width: 100%;
                }
            }
            input[type=submit]{
                border: none;
                border-radius: 5px;
                background-color: $mainColor;
                color: $colorwhite;
                padding: 1rem;
                cursor: pointer;
                font-size: 1.4rem;
                margin: .8rem auto;
            }
            a{
                color: $mainColor;
                font-size: 1.4rem;
            }
        }
        .form-button{
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
        .form-example{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                border-radius: 5px;
                width: 50%;
                height: 40px;
                border: none;
                margin-top: 1rem;
                margin-bottom: 1.6rem;
                @include breakpoints(tablettebig){
                    width: 100%;
                }
                @include boxShadow($colorblack)
            }
            label{
                font-size: 1.6rem;
            }
        }
    }
}