#signup{
    background-color: cyan;
    .wrap{
        

        p.account{
            font-size: 2rem;
        }

        div.box{
            background-color: #E3E3E3;
            text-align: center;
            display: flex;
        }
    }
}