#mentionslegales{
    h2, h3{
        font-size: clamp(1rem, 1rem + 3vw, 2rem);
        text-align: center;
        padding: max(.5rem, .5rem + 3vw);
    }
        strong{
            font-size: 1.5rem;
        }
            h1, h2, h3, h4, h5, h6{
                text-align: center;
                padding: 1.5rem;
            }
                p, li{
                    text-align: justify;
                }
}