#cv .wrap_cv{
  padding: 1rem;
}

#cv, #onglet_editor{
  .autocomplete{
    display: none;
    height: 150px;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    padding: .5rem;
    flex-flow: column nowrap;
    gap: .5rem;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .autocomplete-item{
      cursor: pointer;
      transition: all .25s;
      color: #5e80c9;
      width: 100%;
      &:hover{
        background-color: #eaeaea;
        font-weight: bold;
      }
    }
  }
  .btn{
    padding: .5rem 1rem .5rem 1rem;
    color: white;
    width: 95%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .25s;
    &:hover{
      opacity: .8;
    }
  }
  .btn.red{
    background-color: #f35e5e;
  }
  .btn.blue{
    background-color: #5e80c9;
  }
}

#onglet_editor{
  position: fixed;
  top: 0;
  right: 0;
  width: 35vw;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 10;
  transition: all .4s;
  h1{
    font-weight: 300;
  }
  .onglets_parts {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    text-align: center;
    padding: 3rem 1rem 1rem 1rem;
    button {
      width: 50%;
      padding: 1rem .5rem 1rem .5rem;
      border: none;
      transition: all .45s;
    }
    button:not(.selected):not(.disabled){
      background-color: rgba(0,0,0,.4);
      color: white;
      cursor: pointer;
      &:hover{
        opacity: .7;
      }
    }
    button.selected{
      background-color: #5e80c9;
      color: white;
    }
    button.disabled{
      background-color: rgba(0,0,0,.1);
      color: white;
    }
  }
  .content{
    padding: 1rem;
    .content-module, .content-general{
      display: flex;
      flex-flow: column nowrap;
      gap: .5rem;
      align-items: center;
      padding: .5rem;
      align-content: center;
      width: 100%;
    }
  }
  .attached{
    position: relative;
    #btn-onglet{
      position: absolute;
      top: 50px;
      left: -55px;
      background-color: white;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;
      transition: all .25s;
      &:hover{
        opacity: .7;
      }
      i{
        font-size: 2rem;
        padding: .5rem;
        color: #5e80c9;
      }
    }
  }
}

.section-table{
  border-radius: 5px;
  padding: .5rem;
  border: 2px solid rgba(0,0,0,.08);
  width: 95%;
  button{
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .fa-trash{
    color: #f35e5e;
  }
  thead{
    th:first-child{
      width: 45%;
    }
  }
  tbody{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
  }
  tr{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  td{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  i{
    padding: 0 .3rem 0 .3rem;
    cursor: pointer;
    &:hover{
      opacity: .8;
    }
  }
}

#cv .wrap_cv .modules{
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  .add-item{
    color: #5e80c9;
    cursor: pointer;
    width: max-content;
  }
  .add-item.pad-1{
    padding-left: 1rem;
  }
  section.module-line{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    min-height: 150px;
    .line-title{
      position: absolute;
      top: 50%;
      z-index: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(0,0,0,.15);
      font-size: 3rem;
    }
  }
  .module{
    background-color: white;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .1s;
    padding: 1rem;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
      border: 2px solid #5e80c9;
    }
    .head{
      display: flex;
      flex-flow: row nowrap;
      .module-title{
        font-weight: 300;
      }
      i.draggable{
        padding: .5rem;
        font-size: 1rem;
        cursor: move;
      }
    }
    .module-item{
      .module-item-head-title{
        font-size: 1.5rem;
        font-weight: 300;
      }
      .desc{
        padding-left: 1rem;
      }
    }
  }
  .module.selected{
    border: 2px solid #5e80c9;
  }
  .module:not(.add){
    cursor: pointer;
  }
  .module.add:not(.generated){
    cursor: pointer;
  }
  .module.add{
    position: relative;
    width: 45%;
    height: 200px;
    h1.add-block-title{
      position: absolute;
      top: 25%;
      left: 50%;
      text-align: center;
      font-weight: 300;
      transform: translate(-50%, -50%);
      font-size: 1.6rem;
      color: #8b909b;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: #adb3c2;
    }
  }
}

#onglet_editor .content input{
  width: 90%;
}

#cv form, #onglet_editor .content{
  padding: .5rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: .5rem;
  transition: all .35s;
  input:not([type=range]), select{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #d0d4dc;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    width: 95%;
  }
  input[type=submit]{
    cursor: pointer;
    background-color: #5e80c9;
    color: white;
    transition: all .25s;
    &:hover{
      opacity: .8;
    }
  }
  select, input:not([type=submit]){
    color: #484848;
  }
  .error{
    color: #f35e5e;
  }
}

#save-notif{
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .5s;
  padding: .8rem;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  i{
    padding-left: .5rem;
    color: #5e80c9;
  }
}

#preview-infos{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
  display: none;
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: .8rem;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s;
    i{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
      padding-left: .5rem;
      color: #5e80c9;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/**

FORM - INPUT SLIDER

 */

.input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.input.slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.input.slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.input.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #5e80c9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.input.slider:focus::-webkit-slider-runnable-track {
  background: #5e80c9;
}

.input.slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #5e80c9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.input.slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.input.slider::-ms-fill-lower {
  background: #5e80c9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.input.slider:focus::-ms-fill-lower {
  background: #5e80c9;
}
.input.slider::-ms-fill-upper {
  background: #5e80c9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.input.slider:focus::-ms-fill-upper {
  background: #5e80c9;
}