.input_wrapper{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}

.field{
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: .3rem;
  width: 100%;
}