$mainBackgroundColor   : white;
$secondbackgroundColor : blue;
$backgroundFooter      : rgb(226,226,226);

$mainColor             : rgb(12, 100, 166);
$mainColorHover        : rgb(52, 129, 189);
$secondColor           : orange;
$colorwhite            : white;
$colorblack            : black;

$sizeH1                : 2rem;
$sizeH2                : 1.5rem;
$sizeH3                : 1rem;

$sizeParagraphe        : 0.85rem;
$sizePetitParagraphe   : 0.7rem;
