$mainBackgroundColor   : white;
$secondbackgroundColor : blue;
$backgroundFooter      : rgb(226,226,226);
$backgroundCandidat    : rgba(12, 110, 166, 0.6);
$backgroundRecruteur   : rgba(71, 148, 191, 0.2);

$mainColor             : rgb(12, 100, 166);
$lessMainColor         : rgb(176, 214, 248);
$mainColorHover        : rgb(52, 129, 189);
$secondColor           : orange;
$colorwhite            : white;
$colorblack            : black;
$colorBlue             : rgb(12, 110, 166);

$sizeH1                : 2rem;
$sizeH2                : 1.5rem;
$sizeH3                : 1rem;

$sizeParagraphe        : 0.85rem;
$sizePetitParagraphe   : 0.7rem;
