.wrap{
    width: min(1200px, 100%);
    margin-inline: auto;
}

.wrap_moyen{
    width: min(1200px, 100%);
    margin-inline: auto;
}

.wrap_petit{
    width: min(900px, 100%);
    margin-inline: auto;
}

.wrap_cv{
    width: min(1200px, 100%);
    margin-inline: auto;
}
