.wrap{
    width: min(1200px, 100%);
    margin-inline: auto;
}

.wrap_footer{
    width: min(1600px, 100%);
    margin-inline: auto;
}

.wrap_petit{
    width: min(900px, 100%);
    margin-inline: auto;
}

.wrap_cv{
    width: min(1200px, 100%); // 2040
    margin-inline: auto;
}

.wrap_home{
    width: min(1200px, 100%);
    margin-inline: auto;
}

